
// @import '_grid.scss';
// @import '_decorate.scss';

.container {
 max-width: 300px;
 min-width: 300px;
  background-color: black;

///display area
#calcDisplay {
  width: 40%;
  height: 5vh;
  color: white;
  float: right;
  font-size: 45px;
  padding-bottom: 5vh;
}

////the main keys
.calcKeys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  align-content: space-around;
  grid-gap: 1px;
  button {
    border-radius: 100px;
     height: 6vh;
     width: 6vh;
     font-size: 30px;
  }

}
////grid variables
#zero {
  grid-area: zero;
  font-size: 30px;
}

#point {
  grid-area: point;
  font-size: 30px
}

#equals {
  grid-area: equals;
}


///the bottom keys 
.bottomKeys {
  display: grid;
  grid-template-areas:
  "zero zero point equals";
  width: 80%;
  padding-top: 1vh;
  padding-bottom: 10vh; 
  margin: auto;
  grid-gap: 1px;

   button {
     border-radius: 100px;
     height: 5vh;
   }
     #zero {
       width: 15vh;
     }
     #point {
       width: 5vh;
        
   }
   #equals {
     width: 5vh;
   }
}
}

/////decoration section

#c {
  background-color: gray;
  border-style: none;
}

#plusMinus {
  background-color: gray;
  border-style: none;
}

#percentage {
  background-color: gray;
  border-style: none;
}
////numbers decoration
[data-number] {
  background-color: rgba(78, 83, 88, 0.39);
  border-style: none;
  color: white;
  font-size: medium;
}


///operation decoration 

#divide {
  background-color:rgb(218, 144, 32);
  border-style: none;
  color: white;
  font-size: larger;
}

#plus {
  background-color:rgb(218, 144, 32);
  border-style: none;
  color: white;
  font-size: larger;
}

#minus {
  background-color:rgb(218, 144, 32);
  border-style: none;
  color: white;
  font-size: larger;
}

#multiply {
  background-color:rgb(218, 144, 32);
  border-style: none;
  color: white;
  font-size: larger;
}

#equals {
  background-color:rgb(218, 144, 32);
  border-style: none;
  color: white;
  font-size: larger;
}