.calcKeys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

#zero {
  grid-area: zero;
}

#point {
  grid-area: point;
}

#equals {
  grid-area: equals;
}

.bottomKeys {
  display: grid;
  grid-template-areas:
  "zero zero point equals";
}