.container {
  max-width: 400px;
  min-width: 300px;
}
.container #calcDisplay {
  width: 40%;
  height: 5vh;
  float: right;
}
.container .calcKeys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  grid-gap: 1px;
}
.container .calcKeys button {
  border-radius: 100px;
  height: 6vh;
  width: 6vh;
}
.container #zero {
  grid-area: zero;
}
.container #point {
  grid-area: point;
}
.container #equals {
  grid-area: equals;
}
.container .bottomKeys {
  display: grid;
  grid-template-areas: "zero zero point equals";
  width: 80%;
  padding-top: 1vh;
  padding-bottom: 10vh;
  margin: auto;
  grid-gap: 1px;
}
.container .bottomKeys button {
  border-radius: 100px;
  height: 5vh;
}
.container .bottomKeys #zero {
  width: 15vh;
}
.container .bottomKeys #point {
  width: 5vh;
}
.container .bottomKeys #equals {
  width: 5vh;
}

.container {
  background-color: black;
}
.container #calcDisplay {
  color: white;
  font-size: 45px;
  padding-bottom: 5vh;
}
.container button {
  font-size: 20px;
}
.container #zero {
  font-size: 30px;
}
.container #point {
  font-size: 30px;
}
.container #equals {
  font-size: 30px;
}
.container #c {
  background-color: gray;
  border-style: none;
}
.container #plusMinus {
  background-color: gray;
  border-style: none;
  font-size: 20px;
}
.container #percentage {
  background-color: gray;
  border-style: none;
}
.container [data-number] {
  background-color: rgba(78, 83, 88, 0.39);
  border-style: none;
  color: white;
  font-size: 30px;
}
.container #divide {
  background-color: #da9020;
  border-style: none;
  color: white;
  font-size: 30px;
}
.container #plus {
  background-color: #da9020;
  border-style: none;
  color: white;
  font-size: 30px;
}
.container #minus {
  background-color: #da9020;
  border-style: none;
  color: white;
  font-size: 30px;
}
.container #multiply {
  background-color: #da9020;
  border-style: none;
  color: white;
  font-size: 30px;
}
.container #equals {
  background-color: #da9020;
  border-style: none;
  color: white;
  font-size: larger;
}